@media (max-width: 1024px) {
	:root {
		--base-padding: 4rem;
	}
}

@media (max-width: 768px) {
	main {
		background-color: aqua;
	}
	main #dashboard {
		height: fit-content;
		display: flex;
		flex-direction: column;
	}
	.radio-dashboard {
		height        : auto;
		display       : flex;
		flex-direction: column;
	}
	.station-map,
	.station-list-container,
	.player-section {
		width      : 100%;
	}
	.station-map {
		height : 40rem;
		z-index: 1;
	}
	.station-list-container {
		order     : 1;
		height    : 30rem;
		overflow-y: auto;
		background: white;
		z-index   : 2;
	}
	.player-section {
		order       : 2;
		z-index     : 1;
		padding-left: 0;
	}
}